.fit-img{
    width: 100%;
}
.container {
    width: 75%;
   margin: 0 auto;
 
  }
.center-pra {
    text-align: left;
}
@media screen and (max-width: 1650px){
    .heading-primary--sub3{
        font-size: 2.5vw;
    }
    .heading-primary--sub3{
        letter-spacing:0;
    }
    .container{
        width: 80%;
        margin: 0 auto;
    }
    .center-pra{
        width: 100%;
    }
    .center-pra p{
        text-align: left!important;
    }
    .onecolumnphoto5 img{
        width: 100%;
    }
    .fivecolumntext{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .onecolumnphoto3 img {
        width: 100%;
        max-width: 45rem;
    }
    .onecolumntext3{
        margin-top: 5rem;
    }
    .onecolumnphoto3{
        margin-top: 3rem;
    }
    .onecolumnphoto4 {
        margin-top: 3rem;
    }
    
}

@media screen and (max-width: 1200px){
    .button{
        padding: 15px 35px;
        font-size: 16px;
        width: 20%;
        display: inline-block;
    }
    .threecolumntext h4{
        font-size: 18px;
    }
    p{
        font-size: 16px;
    }
    .twocolumntext h4 {
        font-size: 18px;
    }
    .textover h2{
        font-size: 18px;
    }
    .twocolumntext h3{
        font-size: 18px;
    }
    .onecolumnphoto2 img{
        max-width: 100%;
    }
    h3{
        font-size: 18px;
    }

}

@media screen and (max-width: 950px){

    .button{
        width: 40%;
    }
    
}
@media screen and (max-width: 600px){
    .open .mobile-menu{
        width: 100%;
        padding-top: 35vh;
    }
    .mobile-menu li {
        list-style: none;
    }
    header a {
        font-size: 26px;
        color: #fff;
    }
    .cover-container {
        margin-bottom: 0;
        padding-bottom: 50px;
    }
    .container {
        width: 85%!important;
        margin: 0 auto;
    }

    .heading-primary--sub3 {
        font-size: 35px;
        margin-top: -6rem;
        text-align: center;
    }

    .button {
        width: 66%;
        margin: 0 auto;
        margin-top: 2rem;
    }
    .sub_textbox2 h1{
        font-size: 30px;
    }
    .twocolumntext3{
        grid-template-columns:1fr;
        gap:5rem;
    }
    .twocolumntext2{
        grid-template-columns:1fr;
        gap:5rem;
        text-align: center;
    }
    .threecolumntext3{
        grid-template-columns:1fr;
        gap:5rem;
        text-align: center;
    }
}
